.container{
  background-color: rgb(10,25,47 );
  display: flex;
  justify-content: center;
  color: white;
}

.container div{
  margin: 10px;
  border: 2px solid white;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container a{
  color: white;
}

#instagram:hover{
  background-color: rgb(247, 90, 0);
}

#facebook:hover{
  background-color: rgb(66 , 103, 178);
}
#linkedin:hover{
  background-color:  rgb(40, 83, 168);
}
#github:hover{
  background-color: rgb(44, 44, 44);
}

